<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/styles.css">
  <title>Contact</title>
</head>

<body>
  <div class="container">
    <h1 class="banner">Please contact me</h1>
    <div class="contact-container">
      <form action="/send">
        <p>
          <label for="name">Name
          </label>
          <input type="text" name="name" placeholder="Your name" class="form-group">
        </p>
        <p>
          <label for="email">Email
          </label>
          <input type="email" name="email" placeholder="Your email" class="form-group">
        </p>
        <p>
          <label for="phone">Phone
          </label>
          <input type="text" name="phone" placeholder="Your phone" class="form-group">
        </p>
        <p>
          <label for="message">Message
          </label>
          <textarea name="message" placeholder="Your message" class="form-group"></textarea>
        </p>
        <button type="submit">Send</button>
      </form>
      <div class="contact-info">
        <p><span>Email</span> patrick204nqh@gmail.com</p>
        <p><span>Phone</span> 0965 752 651</p>
      </div>
    </div>
  </div>

</body>

</html>